<h1>Create Puzzle</h1>
<link rel="stylesheet" href="/styles/form.css">

{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="create">
	<div>
		<label for="title">Title:</label>
		<input type="text" id="title" name="title" value="">
	</div>
	<div>
		<label for="mystery">Mystery:</label> 
		<textarea id= "mystery" name="mystery"></textarea>
	</div>
    <div>
		<label for="truth">Truth:</label> 
		<textarea id="truth" name="truth"></textarea>
	</div>
	<div>
		<input type="submit" value="Publish">
	</div>
</form>

<script src = "/js/textarea.js" defer></script>